<ion-header class="ion-no-border">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button (click)="goHome()"></ion-back-button>
    </ion-buttons>

    <ion-title>{{listaRecibida.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Escribe un item de la lista</ion-label>
      <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Tareas por hacer:</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of listaRecibida.items" class="animated fadeInDown">
        <ion-checkbox [(ngModel)]="item.completado" 
        slot="start" 
        color="primary"
        (ionChange)="cambioCheck(item)"></ion-checkbox>
        <ion-label>{{item.desc}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
