<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="animated fadeInDown">
    <ion-item detail *ngFor="let lista of deseoService.listas">
      <ion-label (click)="verItems(lista.id)" >{{lista.titulo}} ({{lista.creadaEn | date:'d-M-y'}})</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="agregar()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
